//Indei flower
@font-face {
    font-family: 'indie_flowerregular';
    src: url('../fonts/indieflower.woff2') format('woff2'),
         url('../fonts/indieflower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


//Kalama
@font-face {
    font-family: 'kalambold';
    src: url('../fonts/kalam-bold.woff2') format('woff2'),
         url('../fonts/kalam-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalamlight';
    src: url('../fonts/kalam-light.woff2') format('woff2'),
         url('../fonts/kalam-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalamregular';
    src: url('../fonts/kalam-regular.woff2') format('woff2'),
         url('../fonts/kalam-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}